
<div class="d-flex justify-content-center align-items-center"><h1>Mi carrito <i class="bi bi-bag-fill fs-2 me-3 text-secondary"></i></h1></div>

<div
    class="card mb-3"
    *ngFor="let producto of carrito">

    <div class="card-body d-flex justify-content-between align-items-center">

        <div class="d-flex">
            <div>
                <img
                    [src]="producto.image"
                    class="img-carrito me-3"
                    alt="{{ producto.producto }}">
            </div>
            <div>
                <h5>{{ producto.producto }}</h5>

                <p>${{ producto.precio }}</p>

            </div>
            
        </div>

        <div>

            <button
                class="btn btn-outline-dark"
                (click)="disminuir(producto._id)">
                -
            </button>

            <span class="mx-3">
                {{ producto.cantidad }}
            </span>

            <button
                class="btn btn-outline-dark"
                (click)="aumentar(producto._id)">
                +
            </button>

        </div>

    </div>

</div>

<hr>

<h3 class="text-end total">
    Total: ${{ total }}
</h3>
<div class="d-flex justify-content-end">
    <button
        class="btn btn-success btn-lg btn-beige"
        (click)="finalizarCompra()"
        [disabled]="carrito.length === 0">

        <i class="bi bi-bag-check-fill"></i>
        Finalizar compra

    </button>
</div>