
<nav class="navbar navbar-expand-lg  navbar-light navegar">
        <div class="container">
            <a href="http://localhost:3000">
                <img
                    class="logo img-fluid d-block"
                    src="/Img/Logo.png"
                    alt="Logo">
            </a>
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <ng-container *ngIf="autenticado">
                    <li class="nav-item px-2 pt-2">
                        <a routerLink="/crear-producto" class="text-decoration-none text-dark text-nowrap">Crear Productos</a>
                    </li>
                    <li class="nav-item px-2 pt-2">
                        <a routerLink="/productos" class="text-decoration-none text-dark text-nowrap">Productos</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-beige mt-2 text-nowrap p-1" (click)="logout()">
                            Cerrar sesion
                        </button>
                    </li>
                </ng-container>
                <ng-container *ngIf="!autenticado">
                    <li class="nav-item">
                        <li class="nav-item"><a 
                            class="nav-link text-nowrap" 
                            routerLink="/login">Iniciar sesión</a></li>
                    
                </ng-container>
                    <li class="nav-item"><a class="nav-link" href="#">Mujer</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Hombre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Accesorios</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Promociones</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-search"></i></a></li>

                
                
            </ul>
        </div>
    </nav>